# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Local testing
venv/
TF2-Zombie-Riot/
repo_img/
.obsidian/
tf2_zr_wikigen.wiki/

items.md
wavesets_fastmode_redsun.cfg.md
wavesets_fastmode.cfg.md
wavesets_classic.cfg.md
weapon_paps.md
npcs.md
skilltree.md
npc_data.json
npc_data_01.json
npc_data_02.json
zr_*.md
vsh_.md
sidebar.md
home.md
*.cfg

premedia_icons_unused/