# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Local testing
venv/
TF2-Zombie-Riot/
repo_img/
premedia_icons_unused/
.obsidian/
gh-pages/

/*.html
npc_data.json
npc_data_01.json
npc_data_02.json
*.cfg
