:root {
/*    --ash-grey: #b4b8abff;
    --deep-space-blue: #153243ff;
    --yale-blue: #284b63ff;
    --ivory: #f4f9e9ff;
    --soft-linen: #eef0ebff;
*/
    --bg-light: #b4b8abff;
    --bg-dark: #181a1bff;
    --text-dark: #ccc8c1ff;
    --link-dark: #95bbd4ff;

    
    --deep-space-blue: #153243ff;
    --yale-blue: #284b63ff;
    --ivory: #f4f9e9ff;
    --soft-linen: #eef0ebff;
}
@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"),
    url("Oswald-VariableFont_wght.ttf") format("truetype")
}

body {
    padding: 75px;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    font-family: "Noto Sans";
}

summary {
    margin-bottom: .5em;
    margin-top: .5em;
    font-weight: 500;
    font-family: "Oswald";
}

details summary { font-size: 2em }
details details summary { font-size: 1.5em }
details details details summary { font-size: 1em }
details details details details summary { font-size: .5em }

h1, .h1 {
    font-size: 2em;
    font-weight: 500;
    font-family: "Oswald";
}

h2, .h2 {
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Oswald";
}

.space_top {
    margin-top: .5em;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* search */
#item_filter, #pap_toggle {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 10px;
}
input[type=search] {
    width: 50%;
    border: 0px;
    /* You can use your image but having cleaner code is better, so I suggest saving the file and just linking it*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z'/%3E%3C/svg%3E") ;*/
    background-image: url("search.svg");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10px center;


    background-color: var(--bg-light);
    color: var(--deep-space-blue);
    padding: 10px 10px 10px 30px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

/* link styling */
a {
    color: var(--link-dark);
    text-decoration: none;
}

a:hover {
    color: hsl(from var(--link-dark) h s 80%);
}

/* item previews */
.hover {
    display: table;
    position: relative;
    color: var(--link-dark);
    text-decoration: none;
    cursor: pointer;
}

.hover:hover {
    color: hsl(from var(--link-dark) h s 80%);
}

.tooltip {
  z-index: 1; /* Stay on top */
  height: max-content;
  width: max-content;
  top: 110%;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  transition: 0.25s;
  pointer-events: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: var(--bg-light);
  color: var(--deep-space-blue);
}

.hover:hover .tooltip {
    opacity:1;
    top: 125%;
}

/* swap out dots in lists */
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

ul ul {
    margin-left: 10px;
}

li:before {
  content: "-";
  color: var(--text-dark);
  padding-right: 5px;
}

.tooltip li:before {
  content: "-";
  color: var(--yale-blue);
  padding-right: 5px;
}

/* weapon content */
.hidden {
    display:none;
}

.money:before {
    content: "$";
}

.money {
    color: rgb(83, 123, 22);
}

#taglist {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap:wrap;
}

.btn {
    background-color: var(--bg-light);
    color: var(--deep-space-blue);
    padding: 10px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(from var(--bg-light) h s 50%);
}

.btn-active {
    background-color: hsl(from var(--bg-light) h s 45%);
}

@media screen and (max-width: 700px) {
    body {
        padding: 25px;
    }

    .tooltip {
        width: 80%;
    }
}